<link rel="stylesheet" href="/assets/css/blog.css">
<div class="subheader-container">
    <div class = "inner">
        <nav class = "sub-nav">
            <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">归档</a>
            <a class="{% if page.category == 'categories' %} selected {% endif %}" href="/blog/categories.html">分类目录</a>
            <!-- <a class="{% if page.category == 'rss' %} selected {% endif %}" href="/blog/feed.xml">RSS</a> -->
            <!-- <a class="{% if page.category == 'donate' %} selected {% endif %}" href="/blog/donate.html">Donate</a> -->
        </nav>
    </div>
</div>