<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="aexITLS38FdIRzwj25OVWxm87rpa9l-UV0URTyC9cTs" />
<title>
	{{ page.title }}
	{% if page.category == 'blog' and page.url == '/blog/' %}
	- 云迹
	{% endif %}
</title>
<link rel="stylesheet" href="/assets/css/site.css">
<link href="https://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
<link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
{% if page.description %}<meta name="description" content="{{page.description}}" />{% endif %}
<link href="/blog/feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts (atom)" />

{{ page.extra_head }}

{% if page.category == 'blog' %}
  {% if page.photo %}
    <meta property="og:image" content="/assets/img/{{ page.photo }}" />
  {% endif %}
{% endif %}