<div class="header-container" style="background-color: #8ABCD1">
  <header class="inner">
    <nav>
      <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">Blog</a>
      <!-- <a class="{% if page.category == 'publication' %} selected {% endif %}" href="/publication/">Publication</a> -->
      <!-- <a class="{% if page.category == 'project' %} selected {% endif %}" href="/project/">Project</a> -->
      <!-- <a class="{% if page.category == 'resume' %} selected {% endif %}" href="/resume/">Resume</a> -->
      <!-- <a href="/yuanyong_resume_cn.pdf">Resume</a> -->
      <!-- <a href="/YongYuan_resume.pdf">Resume</a> -->
      <!-- <a href="/books/">Book</a> -->
      <a href="/todo/">Todo</a>
	    <!-- <a href="/timeline/">Times</a> -->
      <!-- <a href="/xueyu&zz/">鳕鱼z家</a> -->
      <!-- <a class="{% if page.category == 'donate' %} selected {% endif %}" href="/donate/">Donate</a> -->
      <!-- <a href="https://github.com/nijiazhi">GitHub</a> -->
      <a class="{% if page.category == 'about' %} selected {% endif %}" href="/">About</a>
    </nav>

    <!-- <div class="pull-right right logo">
      <a href="https://jessica-xyx.github.io/"><img class="avatar" src="https://jessica-xyx.github.io/assets/img/home.png" alt="My profile picture" /></a>
    </div> -->
    <div class="clear"></div>
  </header>
  <div class="clear"></div>
</div>